/* MAIN */
main {
    padding: 1em;
}

div img {
    height: 600px;
}

section{
    margin-top: 1em;
    display: flex;
}

article {
    background-color: #2E5159;
    flex-basis: 50%;
    padding: 1em;
}

#art1{
    margin-right: 1em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

@media screen and (max-width: 940px) {
    /* MAIN */
    #art2{
        display: none;
    }

    #art1{
        flex-basis: 100%;
    }

}