/* PAGE PRESENTATION */
main img{
    float: right; 
    width: 50%;
    margin: 10px;
}

section{
    margin-top: 1em;
    display: flex;
}

article {
    background-color: #2E5159;
    padding: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

/* FOOTER */ 

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 940px) {
    footer {
        position: initial;
        margin-top: 1em;
    }

}